<button type="button" class="btn btn-default"><%= link_to "Create New Post",new_post_path%></button>
</div>
<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %> 
    </h2>
    <p class="author">by <%= User.find(post.user_id).first_name %>
    <p class="date"><%=post.created_at.strftime("%B, %d, %Y")%></p>
  </div>
<% end%>